body {
    font-family: "Merriweather Sans", sans-serif;
    margin:0;
}

.container {
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)) ,url(../images/bg.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    text-align: center;
}

.quote h1 {
    font-size: 4rem;
    margin-block: 0;
    padding-top: 40px;
    text-shadow: 5px -2px #343a40;
}

.quote > p {
    font-size: 1.5rem;
    color: #b4b4b4;
}

.quote button {
    font-family: inherit;
    background-color: #343a40;
    padding: 25px 60px;
    color: inherit;
    font-size: 1.5rem;
    border: 2px solid #343a40;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.quote button:hover {
    background-color: #23272b;
    border-color: #1d2124;
}

.quote-content {
    color: #fff;
    font-family: "Merriweather", serif;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-inline: auto;
    line-height: 1.6;
}

.quote-content #quoteText {
    margin-top: 30px;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}

.quote-content #quoteAuthor {
    font-size: 1.5rem;
    margin-top: 0;
    position: relative;
    align-self: flex-end;
    color: #fff;
}

.quote-content #quoteAuthor span:before {
    content: "";
    height: 3px;
    width: 20px;
    background-color: #fff;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}

/* Responsiveness */
@media (max-width: 768px) {
    .container {
        padding-inline: 15px;
    }

    .quote h1 {
        font-size: 2.5rem;
    }

    .quote > p {
        font-size: 1rem;
        margin-block: 35px;
    }

    .quote button {
        padding: 15px 40px;
        font-size: 1rem;
    }

    .quote-content {
        margin-top: 20px;
        width: 100%;
    }

    .quote-content #quoteText {
        margin-top: 10px;
        font-size: 1.5rem;
    }

    .quote-content #quoteAuthor {
        font-size: 1.1rem;
    }

    .quote-content #quoteAuthor span:before {
        width: 10px;
        left: -15px;
    }
}

@media (max-width: 992px) {
    .container {
        padding-inline: 15px;
    }
    .quote-content {
        margin-top: 20px;
        width: 100%;
    }
}